.title{
  color: white;
}

.div1{
  background-color: blue;
}

.link:hover{
  color:white;
}

h1{
  color:#fff !important;
  font-weight:bold !important;
}

h2{
  color:#fff !important;
}
h3{
  color:#000 !important;
}

h4{
  color:#fff !important;
}
label{
  color:#fff !important;
}
